@CHARSET "ISO-8859-1";

/*--------------------------------Main----------------------------------------- */
#main canvas {
    position: absolute;
    left: 0;
    top: 0;
 }
#backgroundCanvas {
    z-index: 1;
}
#entityCanvas{
	z-index: 2;
}
