@CHARSET "ISO-8859-1";

/*--------------------------------Main----------------------------------------- */
#main {
    position: relative;
    height: 700px;
    width: 600px;
    background: #eee;
}
#main canvas {
    position: absolute;
    left: 0;
    top: 0;
 }
#backgroundCanvas {
    z-index: 1;
}
#entityCanvas{
	z-index: 2;
}
